/* Coolors Exported Palette - coolors.co/acedff-89bbfe-6f8ab7-f0eff4-1a181b */

/*
$color1: #acedff; //rgba(172, 237, 255, 100)
$color2: #89bbfe; //rgba(137, 187, 254, 100)
$color3: #6f8ab7; //rgba(111, 138, 183, 100)
$color4: #f0eff4; //rgba(240, 239, 244, 100)
$color5: #1a181b; //rgba(26, 24, 27, 100)
*/

/* General Stuff */

* {
  box-sizing: border-box;
}

html, body {
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  line-height: 1.4;
  font-family: 'Didact Gothic', serif;
  color: white;
}

body {
  background-image: url('../images/footer_lodyas.png');
  background-repeat: repeat;
}

/* Navbar */

div.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #696969;
  z-index: 10;
}

div.navbar > a {
  display: inline-block;
  float: left;
  color: white;
  font-style: normal;
  padding: 10px 8.5px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: 0.5s color, 0.5s text-shadow;
  -ms-transition: 0.5s color, 0.5s text-shadow;
  transition: 0.5s color, 0.5s text-shadow;
}

div.navbar > a:first-child {
  padding: 0px 16px;
  font-size: 1.85em;
}

div.navbar > a:hover {
  color: darkturquoise;
  text-shadow: 0px 0px 8px gray;
}

/* Intro */

div#intro {
  position: relative;
  text-align: center;
  height: 100%;
  width: 100%;
  height: 100vh;
  width: 100vw;
}

div#intro > div.intro-content > a {
  color: white;
  margin: 5px;
  -webkit-transition: 0.5s color, 0.5s margin;
  -ms-transition: 0.5s color, 0.5s margin;
  transition: 0.5s color, 0.5s margin;
}

div#intro > div.intro-content > a:hover {
  color: darkturquoise;
  text-shadow: 0px 0px 8px gray;
}

div.intro-content {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-70%);
  -ms-transform: translateY(-70%);
  transform: translateY(-70%);
  width: 100%;
  height: auto;
}

div#intro > div.intro-content > h1 {
  font-size: 5em;
}

@media screen and (max-width: 500px) {
  div#intro > div.intro-content > h1 {
    font-size: 3.8em;
  }
  div#intro > div.intro-content > a {
    color: white;
    margin: 0 15px;
  }
}

/* Content */

div.info {
  position: relative;
  width: 100%;
  height: 100%;
  width: 100vw;
  height: 100vh;
  display: block;
  text-align: right;
}

div.content {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: auto;
  width: 80%;
  margin: 0 10%;
}

div.content > h1 {
  font-size: 3em;
  text-align: center;
}

div.info:nth-child(odd) {
  text-align: left;
}

@media screen and (max-width: 500px) {
  div.content {
    width: 90%;
    margin: 0 5%;
  }
}

/* Education */

div#education > div.content {
  width: 500px;
  margin: 0 auto;
}

div.school {
  display: block;
  margin: 25px 0;
}

div.logo, div.school-info {
  position: relative;
  display: inline-block;
  vertical-align: text-top;
}

div.logo {
  margin: auto;
  height: 100%;
}

div.logo > a > img {
  width: auto;
  height: 100px;
}

div.school-info > p {
  line-height: 0.8em;
  margin: 5px;
}

div.school-info > p:first-child {
  font-size: 1.5em;
  margin: 15px 0;
}

@media screen and (max-width: 500px) {
  div#education > div.content {
    width: 90%;
    margin: 10%;
  }
  div.logo {
    width: 30%;
  }
  div.school-info {
    width: 60%;
    word-wrap: normal;
  }
  div.logo > a > img {
    width: 100px;
    height: auto;
  }
  div.school-info > p {
    margin: 0;
    line-height: 1em;
  }
  div.school-info > p:first-child {
    font-size: 1.2em;
    margin: 0 0 15px 0;
  }
}

/* Experience */

div.work {
  font-size: 1.2em;
  display: inline-block;
  width: 49%;
  height: 150px;
  vertical-align: text-top;
  text-align: center;
}

div.work > span {
  font-size: 0.75em;
}

div.work > ul {
  list-style: none;
  font-size: 0.75em;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 930px) and (min-width: 500px) {
  div#experience > div.content {
    width: 90%;
    margin: 0 5%;
  }
  div.work {
    width: 100%;
    height: 100px;
  }
}

@media screen and (max-width: 500px) {
  div.work {
    width: 100%;
    height: 75px;
  }
}

/* Projects */

div#projects > div.content > h1 {
  margin: 50px 0 -10px 0;
}

div.proj {
  position: relative;
  display: inline-block;
  width: 49%;
  text-align: center;
  margin: 20px 0;
  vertical-align: text-top;
}

div.proj > p {
  width: 100%;
  margin: 10px auto;
}

div.proj > p:first-child {
  font-size: 1.5em;
}

div.proj > a > img {
  position: relative;
  max-width: 300px;
  display: inline-block;
  -webkit-transition: 0.5s box-shadow;
  -ms-transition: 0.5s box-shadow;
  transition: 0.5s box-shadow;
}

div.proj > a > img:hover {
  box-shadow: 0px 0px 12px white;
}

@media screen and (max-width: 790px) {
  div#projects {
    height: 1400px;
  }
  div#projects > div.content > h1 {
    margin: 15px auto;
  }
  div.proj {
    width: 100%;
  }
  div.proj > p {
    width: 300px;
    margin: 0 auto;
  }
}

/* Skills */

svg {
  position: relative;
  max-width: 70%;
  margin: 15%;
}

div#skills > div.content {
  text-align: center;
  width: 70%;
  margin: 15%;
}

@media screen and (max-width: 500px) {
  div#skills {
    height: 150vh;
  }
  div#skills > div.content {
    width: 100%;
    margin: 0;
  }
}

div.lang {
  position: relative;
  background-color: whitesmoke;
  border-radius: 20%;
  width: 100px;
  height: 100px;
  display: inline-block;
  text-align: center;
  margin: 20px 5px;
}

/* Interests to be added back in at another date */
