/* General Stuff */

* {
  box-sizing: border-box;
}

html, body {
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  line-height: 1.4;
  font-family: 'Didact Gothic', serif;
  /*font-family: 'Kelly Slab', cursive;*/
  color: white;
}

body {
  background-image: url('../images/footer_lodyas.png');
  background-repeat: repeat;
}

/* Navbar */

div.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #696969;
  z-index: 10;
}

div.navbar > a {
  display: inline-block;
  float: left;
  color: white;
  font-style: normal;
  padding: 10px 8.5px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: 0.5s color, 0.5s text-shadow;
  -ms-transition: 0.5s color, 0.5s text-shadow;
  transition: 0.5s color, 0.5s text-shadow;
}

div.navbar > a:first-child {
  padding: 0px 16px;
  font-size: 1.85em;
}

div.navbar > a:hover {
  color: darkturquoise;
  text-shadow: 0px 0px 8px gray;
}

/* Intro */

div#intro {
  position: relative;
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: inline-flex;
}

div.intro-content {
  position: relative;
  width: 100%;
  height: auto;
  margin: auto;
}

div#intro > div.intro-content > h1 {
  font-size: 120px;
  margin-top: 0;
  -webkit-transition: 0.5s font-size;
  -ms-transition: 0.5s font-size;
  transition: 0.5s font-size;
}

div#intro > div.intro-content > a {
  color: white;
  margin: 10px;
  -webkit-transition: 0.5s color, 0.5s text-shadow, 0.5s margin;
  -ms-transition: 0.5s color, 0.5s text-shadow, 0.5s margin;
  transition: 0.5s color, 0.5s text-shadow, 0.5s margin;
}

@media (max-width: 500px) {
  div#intro > div.intro-content > h1 {
    font-size: 90px;
    -webkit-transition: 0.5s font-size;
    -ms-transition: 0.5s font-size;
    transition: 0.5s font-size;
  }
  div#intro > div.intro-content > a {
    margin: 0 15px;
    -webkit-transition: 0.5s margin;
    -ms-transition: 0.5s margin;
    transition: 0.5s margin;
  }
}

div#intro > div.intro-content > a:hover {
  color: darkturquoise;
  text-shadow: 0px 0px 20px black;
  -webkit-transition: 1s color, 1s text-shadow;
  -ms-transition: 1s color, 1s text-shadow;
  transition: 1s color, 1s text-shadow;
}

/* Content */

div.info {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: inline-flex;
}

div.content {
  position: relative;
  height: auto;
  width: auto;
  margin: auto;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;

  flex-wrap: wrap;
}

div.content > h1 {
  font-size: 3.5em;
  margin-top: 0;
  text-align: center;
  -webkit-box-flex: 1 100%;
  -moz-box-flex:  1 100%;
  flex: 1 100%;

  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  order: 0;
}

/* Education */

div#education > div.content {
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

div.school {
  margin: 25px auto;
  -webkit-box-flex: 2 auto;
  -moz-box-flex:  2 auto;
  flex: 2 auto;

  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 2;
  order: 2;
}

div.logo, div.school-info {
  position: relative;
  display: inline-block;
  vertical-align: text-top;
}

div.logo {
  margin: auto;
  height: 100%;
}

div.logo > a > img {
  width: auto;
  height: 100px;
  margin: 0 10px;
}

div.school-info > p {
  margin: 0;
}

div.school-info > p:first-child {
  font-size: 1.5em;
  margin: -5px 0 5px 0;
}

@media (max-width: 450px) {
  div.school {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
  div.school-info {
    text-align: center;
  }
}

/* Experience */

div#experience > div.content {

}

div.work {
  vertical-align: text-top;
  text-align: center;
  margin: 20px auto;
  word-wrap: normal;
  font-size: 20px;

  -webkit-box-flex: 2 10%0%;
  -moz-box-flex:  2 100%;
  flex: 2 100%;

  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 2;
  order: 2;
}

div.work > span {
  font-size: 1.5em;
  font-weight: 800;
  margin-bottom: 10px;
}

div.work > ul {
  list-style: none;
  font-size: 0.65em;
  margin: 0;
  padding: 0;
}

div.work > ul > li:first-child {
  font-style: italic;
}

div.work > ul > li:nth-child(2) {
  margin-bottom: 10px;
}

/* Projects */

div#projects {
  width: 100vw;
  height: auto;
}

div.proj {
  position: relative;
  text-align: center;
  margin: 20px 0 0 0;
  vertical-align: text-top;

  -webkit-box-flex: 2 400px;
  -moz-box-flex:  2 400px;
  flex:  2 400px;

  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 2;
  order: 2;
}

div#projects > div.content > h1 {
  margin-top: 75px;
}

div.proj > p {
  width: 100%;
  margin: 10px auto;
}

div.proj > p:first-child {
  font-size: 1.5em;
}

div.proj > a > img {
  position: relative;
  max-width: 300px;
  display: inline-block;
  -webkit-transition: 0.5s box-shadow;
  -ms-transition: 0.5s box-shadow;
  transition: 0.5s box-shadow;
}

div.proj > a > img:hover {
  box-shadow: 0px 0px 8px darkturquoise;
}

div.proj > p > a {
  color: white;
  text-decoration: none;
  -webkit-transition: 0.5s color, 0.5s margin;
  -ms-transition: 0.5s color, 0.5s margin;
  transition: 0.5s color, 0.5s margin;
}

div.proj > p > a:hover {
  color: darkturquoise;
  text-shadow: 0px 0px 8px black;
}

/* Skills */

div#skills {
  width: 100vw;
  height: auto;
}

svg {
  position: relative;
  max-width: 70%;
  margin: 15%;
}

div#skills > div.content {
  text-align: center;
  height: auto;
  width: 70%;
  align-items: flex-start;
  justify-content: center;
}

@media (max-width: 400px) {
  div#skills > div.content {
    width: 90%;
  }
}

div#skills > div.content > h1 {
  margin-top: 75px;
}

div.lang {
  position: relative;
  background-color: whitesmoke;
  border-radius: 20%;
  height: 100px;
  width: 100px;
  margin: 20px 5px;

  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 2;
  order: 2;
}

div.lang:last-child {
  margin-bottom: 100px;
}

/* Interests to be added back in at another date */
